<form method="post">
  {% csrf_token %}
  <textarea type="text" name="message" class="usermessage" placeholder="enter your message" required>{% if form.message.value %}{{form.message.value}}{% endif %}</textarea>
  {{form.message.errors}}
  <select name="title" id="">
    <option value="پیشنهاد" {% if form.title.value == 'پیشنهاد' %}
    selected
    {% endif %}>proposal</option>
    <option value="باگ" {% if form.title.value == 'باگ' %}selected{% endif %}>bugs</option>
  </select>



  {% if form.non_field_errors %}
  {{form.non_field_errors}}
  {% endif %}
  <input type="submit" value="submit" class="submit" >
</form>