{% extends "parent/base.html" %}
{% load static %}
{% load blog_tags %}
{% block title %}change password{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/pass-form.css' %}">

{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <h1 class="title">Change Password</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_div}}
                <input type="submit" value="change password">
            </form>
        </div>
    </main>
    
{% endblock  %}
    