<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>done</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #00039c;
        }
        h1 {
            color: white;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    
    </style>
</head>
<body>
    <h1>the password change is done</h1>

    <script type="text/javascript">
        window.addEventListener("load", () => {
            setTimeout(() => {
                location.href = "/app/profile"
            }, 2000);
        })
    </script>
</body>
</html>