@import url("reset.css");
@import url("header.css");
@import url("footer.css");

.container {
  width: 80%;
  padding: 0 1rem;
  margin: 0 auto;
}
.title {
  color: white;
  font-size: 3rem;
  font-family: circular;
  text-align: center;
  margin-bottom: 3.5rem;
}
main {
  margin-top: 2rem;
}
.pagination {
  display: flex;
  gap: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content: center;
}
.pagination_box {

  padding: 1rem;
  background-color: #fff;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_text {
  color: black;
  font-weight: bold;
}